<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df221e2d29.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <section class="header">
        <div class="header-layout">
            <div class="header-navbar">
                <img src="../../Image/f8_text_logo.png" alt="">
                <div class="header-navbar-content">
                    <ul class="header-ul">
                        <li>
                            <a href="#">TRANG CHỦ</a>
                        </li>
                        <li>
                            <a href="#">KHÓA HỌC</a>
                        </li>
                        <li>
                            <a href="#">TẠO CV XIN VIỆC</a>
                        </li>
                    </ul>
                </div>

                    <div class="header-avatar">
                        <button class="header-ava-image"></button>
                        <div class = "header-avatar-con">
                            <div><span class="header-avatar-name">Lưu Hoàng</span></div>
                            <div><span class="header-avatar-coins">1,470 Coins</span></div>
                        </div>
                        <div class="header-boder"></div>
                        <div class="header-icons">
                            <a href="#"><i class="fas fa-bookmark"></i></a>   
                            <a href="#"><i class="fas fa-bell"></i></a>   
                            <a href="#" class="header-icons-down"><i class="fas fa-caret-down"></i></a>   
                            <a href="#" class="header-icons-menu"><i class="fas fa-bars"></i></a>
                        </div>
                </div>
            </div>
            <div class="header-content">
                <h5>Học lập trình với phương pháp Thực hành - Lý thuyết đầu tiên tại Việt Nam</h5>
                <h1>CỘNG ĐỒNG HỌC LẬP TRÌNH <br> FULL-STACK</h1>
                <button class="header-button">Khóa Học</button>
            </div>
        </div>
    </section>
</body>

</html>