<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="main-col-3">
            <div class="main-col-3-1">
                <img src="../../Image/col-1.jpg" alt="">
                <div class="main-col-3-1-con"><span>Trên 4,000 học viên</span></div>
            </div>
            <div class="main-col-3-2">
                <img src="../../Image/col-2.jpg" alt="">
                <div class="main-col-3-2-con"><span>3+ khóa học dành cho bạn</span></div>
            </div>
            <div class="main-col-3-3">
                <img src="../../Image/col-3.jpg" alt="">
                <div class="main-col-3-3-con"><span>Học mọi lúc mọi nơi</span></div>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-image">
                <img src="../../Image/founder_1224.jpg" alt="">
            </div>
            <div class="main-content-para">
                <p>"... tôi làm việc bất kể ngày nghỉ, ngày lễ. Ở bất cứ đâu tôi có thể đặt chiếc máy tính của mình và tôi LUÔN TIN rằng tôi sẽ tạo ra được những sản phẩm tuyệt vời để CHIA SẺ với cộng đồng, đó là mục tiêu tôi luôn theo đuổi ..." </p>
                <p class="main-content-para-2">– Founder F8 –</p>
            </div>
        </div>
    </div>
</body>
</html>