<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<meta charset="utf-8">
</head>
<body>
	<div class="footer">
		<div class="footer-padding">
			<div class="footer-first-col">
				<img src="../../Image/f8_text_logo.png">
				<p>F8 là nơi học lập trình miễn phí.</p>
				<p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
				<p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
				<p class="footer-detail">© 2019 MyCV JSC. All rights reserved.</p>
			</div>
			<div class="footer-two-col">
				<div class="footer-col-1">
					<h3>P8</h3>
					<a href="#">Giới thiệu</a>
					<a href="#">Câu hỏi thường gặp</a>
					<a href="#">Liên hệ</a>
				</div>	
				<div class="footer-col-2">
					<h3>Sản phẩm</h3>
					<a href="#">MyCV.vn</a>
					<a href="#">Fullstack.edu.vn</a>
				</div>		
				<div class="footer-col-3">
					<h3>Hỗ trợ</h3>
					<a href="#">Hỗ trợ</a>
					<a href="#">Đóng góp</a>
				</div>
			</div>
			<div class="footer-three-col">
				<h3>Theo dõi chúng tôi</h3>
				<p>Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</p>
				<input id="footer-input" type="text" name="" placeholder="Email của bạn...">
				<button id="footer-registration">Đăng ký</button>
			</div>
		</div>
	</div>
</body>
</html>